<% if(message.length > 0) { %>
<div class="alert alert-success" role="alert"><%= message %></div>
<% } if(error.length > 0) { %>
<div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>
