<form action="/search" method="post" class="d-flex">
  <div class="form-floating">
    <input
      type="search"
      class="form-control form-control-sm me-2 text-dark"
      id="search"
      name="search"
      placeholder="Search"
    />
    <label for="Search" class="text-muted">Search</label>
  </div>
  <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
