<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/500.css" />
  </head>
  <body>
    <div id="terminal">
      <code>
        > Trying Mr-RmZa.ir...<br />
        > Connected to Mr-RmZa.ir.<br />
        > Escape character is '^]'.<br />
        > GET / http/1.1<br />
        > Host: Mr-RmZa.ir<br />
        > HTTP/1.1 500 Internal Server Error<span class="cursor">_</span>
      </code>
      <div class="overlay"></div>
    </div>
  </body>
</html>
