@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('eot/iransansdnbold.eot');
	src: url('eot/iransansdnbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('woff2/iransansdnbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('woff/iransansdnbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('ttf/iransansdnbold.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('eot/iransansdnlight.eot');
	src: url('eot/iransansdnlight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('woff2/iransansdnlight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('woff/iransansdnlight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('ttf/iransansdnlight.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('eot/iransansdn.eot');
	src: url('eot/iransansdn.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('woff2/iransansdn.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('woff/iransansdn.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('ttf/iransansdn.ttf') format('truetype');
}
