<%- include('../includes/header') %>
<div class="container">
  <div class="row">
    <%- include('../includes/massage') %>
    <h1 class="text-center">Contact Us</h1>
    <form action="/contact" method="post" class="mt-3">
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="search"
            class="form-control text-dark"
            id="fullName"
            placeholder="Full Name"
            name="fullName"
            required
          />
          <label for="fullName" class="text-muted">Full Name</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <input
            type="email"
            class="form-control text-dark"
            id="email"
            placeholder="Email"
            name="email"
            required
          />
          <label for="email" class="text-muted">Email</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Message"
            id="message"
            name="message"
            style="height: 100px"
          ></textarea>
          <label for="message" class="text-muted">Message</label>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <img src="/captcha" alt="captcha" class="bg-white" />
          </div>
          <div class="col">
            <div class="form-floating">
              <input
                type="search"
                class="form-control text-dark"
                id="captcha"
                placeholder="Captcha"
                name="captcha"
                required
              />
              <label for="captcha" class="text-muted">Captcha</label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn btn-outline-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<%- include('../includes/footer') %>
